body {
  overflow: hidden; 
  margin: 0; 
}

#container {
  position: relative;
}

.overlay-text {
  position: absolute;
  top: 50%; /* Ajusta la posición vertical */
  left: 50%; /* Ajusta la posición horizontal */
  transform: translate(-50%, -50%); /* Centra el texto */
  color: white;
  font-size: 20px;
  z-index: 10; /* Asegura que el texto esté por encima del canvas */
}

.burbujas-mar{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2; /* Asegura que las burbujas estén en un nivel inferior */
}
.canvas-burbujas{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Asegura que el canvas esté en un nivel superior */
}