.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    transition: all 0.4s ease; /* Transición suave */
}

.circle:hover {
    opacity: 1; /* Hace que el círculo sea completamente opaco al pasar el mouse sobre él */
    width: 200px;
    height: 200px;
    transition: all 0.3s ease; /* Transición suave */
    color: #535bf2;
    filter: drop-shadow(0 0 2em #16ddb2f8); /* Añade una sombra de color azul */
}

.circle.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa); /* Añade una sombra de color azul claro */
}
.circle {
    background-color: rgba(254, 254, 254, 0.8); /* Color blanco con transparencia */
    width: 180px;
    height: 180px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Efecto de sombra */
    opacity: 0.86; /* Valor de 0 (completamente transparente) a 1 (completamente opaco) */
    
}

.litle-circle {
    background-color: #63C548;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    z-index: 2;
}
.content {
    text-align: center;
}

.icon {
    width: 60px; /* Ajusta el tamaño del icono */
    margin-bottom: 4px;
}

p {
    font-size: 16px;
    color: #333333;
    font-weight: bold;
    margin-top: -5px;

}