/* TestStyles.css */

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .testContainer {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .testHtml {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
    color: white;
  }
  
  .testCanvas {
    width: 100%;
    height: 100%;
  }